<html>
<head>
    <title>编辑博客</title>
    <meta http-equiv="content-type=text/html;charset=utf-8">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
    <script language="javascript" src="/javascript/jquery.js"></script>
    <script language="javascript" src="/javascript/bootstrap.min.js"></script>

<body>
<div class="nav">
    <form class="form-horizatal">
        <h2>编辑博客</h2>
        <table class="table table-hover">
            <tr>
                <td>标题</td>
                <td><input type="text" value="" name="title"></td>
            </tr>
            <tr>
                <td>内容</td>
                <td><textarea  name="content"></textarea></td>
            </tr>

            <tr>
                <button class="btn btn-primary"> 编辑</button>
            </tr>
        </table>
    </form>
</div>
</body>
</head>
</html>