<html>
<head>
    <title><%= title %></title>
    <meta http-equiv="content-type=text/html;charset=utf-8">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
    <script language="javascript" src="/javascript/jquery.js"></script>
    <script language="javascript" src="/javascript/bootstrap.min.js"></script>
  </head>
<body>
<div class="container">
<nav>
    <a title="主页">主页</a>
    <% if (user) {%>
        <a class="btn btn-primary" href="/post" target="_blank">发布博客</a>
        <a class="btn btn-primary" href="/logout"  >退出</a>
    <%}else{%>
    <a class="btn btn-primary" href="/login" target="_blank">登录</a>
    <a class="btn btn-primary" href="/reg" target="_blank">注册</a>
    <% }%>
</nav>
</div>
<div style="height:30px;"> </div>
<article>
 <% if (success) {%>
    <%= success %>
 <% }%>
  <% if (error) {%>
     <%= error%>
  <% }%>
</article>