<%include header%>

    <div class="container">
            <h2>发布列表</h2>
        <table class="table table-hovered">
            <thead>
            <tr>
                <th>标题</th>
                <th>内容</th>
                <th>发布时间</th>
                <th>标签</th>

            </tr>
            </thead>
            <tbody>
            <%posts.forEach(function (post,index){%>
            <tr>
                <td><%= post.title%></td>
                <td><%= post.content%></td>
                <td><%= post.time%></td>
                <td><%= post.tags%></td>
            </tr>
            <%});%>
            </tbody>

        </table>
    </div>
<%include footer%>