<html>
<head>
    <title>发表博客</title>
    <meta http-equiv="content-type=text/html;charset=utf-8">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
    <script language="javascript" src="/javascript/jquery.js"></script>
    <script language="javascript" src="/javascript/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
            <h2>发布列表</h2>
        <table class="table-hover">
            <thead>
            <tr>
                <th>标题</th>
                <th>内容</th>
                <th>发布时间</th>
                <th>发布人</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>博客标题</td>
            </tr>
            <tr>
                <td>内容</td>
            </tr>
            <tr>
                <td>发布时间</td>
            </tr>

            <tr>
                <td>博客标题</td>
            </tr>
            <tr>
                <td>
                    <a href="" class="btn btn-primary">修改</a>
                    <a href="" class="btn btn-primary">删除</a>
                </td>
            </tr>
            </tbody>

        </table>
    </div>
</body>
</html>