<%include header%>
        <div class="container">
            <form class="form-horizatal" method="post" action="" >
            <h2>发表博客</h2>
             <table class="table table-hover">
                <tr>
                    <td>标题</td>
                    <td><input type="text" value="" name="title"></td>
                </tr>
                 <tr>
                     <td>内容</td>
                     <td><textarea  name="content" rows=5  cols=40></textarea></td>
                 </tr>
                 <tr>
                     <td>添加标签</td>
                     <td><input type="text" value="" name="tags"></td>
                 </tr>
                 <tr>
                     <td>
                         <button class="btn btn-primary"> 提交 </button>
                     </td>
                 </tr>
             </table>
            </form>
        </div>
<%include footer%>