<html>
<head>
    <title>用户注册</title>
    <meta http-equiv="content-type=text/html;charset=utf-8">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
    <script language="javascript" src="/javascript/jquery.js"></script>
    <script language="javascript" src="/javascript/bootstrap.min.js"></script>
</head>
<body>
<div class="nav">
    <form class="form-horizatal" method="post" action="">
        <h2>用户注册</h2>
        <table class="table table-hover">
            <tr>
                <td>用户名</td>
                <td><input type="text" value="" name="name"></td>
            </tr>
            <tr>
                <td>密码</td>
                <td><input type="password" value="" name="password"></td>
            </tr>

            <tr>
                <td>确认密码</td>
                <td><input type="password" value="" name="password_repeat" ></td>
            </tr>
            <tr>
                <td>邮箱</td>
                <td><input type="text" value="" name="email" type="text"></td>
            </tr>
            <tr>
            <td><button class="btn btn-primary"> 注册 </button></td>
            </tr>
        </table>
    </form>
</div>
</body>

</html>