<%include header%>
<div class="container">
    <form class="form-horizatal" method="post" action="">
        <h2>用户注册</h2>
        <table class="table table-hover">
            <tr>
                <td>用户名</td>
                <td><input type="text" value="" name="name"></td>
            </tr>
            <tr>
                <td>密码</td>
                <td><input type="password" value="" name="password"></td>
            </tr>

            <tr>
                <td>确认密码</td>
                <td><input type="password" value="" name="password_repeat" ></td>
            </tr>
            <tr>
                <td>邮箱</td>
                <td><input type="text" value="" name="email" type="text"></td>
            </tr>
            <tr>
            <td><button class="btn btn-primary"> 注册 </button></td>
            </tr>
        </table>
    </form>
</div>
<%include footer%>